.username {
    font-size: large;
    color: white;

    display: flex;
    padding: 10px 12px;
    margin-bottom: 30px;

    border: none;
    border-radius: 6px;

    background-color: white;
    color: black;

    width: 300px;
    font-size: medium;
}

.error {
    position: relative;
    padding-bottom: 2px;
    font-size: small;
    color: red;
}

.loading {
    animation: flash 2s infinite;
}

@keyframes flash {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }