/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./components/ChatNumberInput.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.chatnumberinput {
    margin-top: 10px;
    padding: 5px 18px;
    border: none;
    border-radius: 6px;

    background-color: #567AF4;
    color: white;

    width: 100px;
    height: 50px;

    font-size: x-large;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chatnumberinput input {
    padding-left: 2px;

    border: none;
    background-color: transparent;

    width: 80px;
    max-width: -moz-fit-content;
    max-width: fit-content;

    caret-color: white;

    font-size: x-large;
    color: white;
    text-transform:uppercase;
}

.chatnumberinput ::placeholder {
    color: rgba(255, 255, 255, 0.723);
}

.chatnumberinput input:focus {
    border: none;
    outline: none;
}   
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./components/NewChat.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.newchat {
    font-size: large;
    color: white;
    
    padding: 20px;
    margin: 10px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;


}

.newchat input {
    padding: 10px 12px;

    border: none;
    border-radius: 6px;

    background-color: white;
    color: black;

    width: 300px;
    font-size: medium;
}

::placeholder {
    color: #567bf49b;
}

.newchat button {
    padding: 10px;
    margin-left: 10px;

    background-color: #567AF4;
    color: white;
    
    border: none;
    border-radius: 6px;
    font-size: medium;
}
