.newchat {
    font-size: large;
    color: white;
    
    padding: 20px;
    margin: 10px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;


}

.newchat input {
    padding: 10px 12px;

    border: none;
    border-radius: 6px;

    background-color: white;
    color: black;

    width: 300px;
    font-size: medium;
}

::placeholder {
    color: #567bf49b;
}

.newchat button {
    padding: 10px;
    margin-left: 10px;

    background-color: #567AF4;
    color: white;
    
    border: none;
    border-radius: 6px;
    font-size: medium;
}